<h1>sql template:  </h1>
<h3 class="text-success">INSERT INTO recipes (name, instructions) VALUES ('#{name}','#{instructions}');</h3>

<h1>instructions form value:  </h1>
<h3 class="text-danger"><%= @instructions %></h3>

<hr>

<h1>ran sql:  </h1>
<h2 >
  <span class="text-success">
    INSERT INTO recipes (name, instructions) VALUES ('<%= @name %>','
  </span>
  <span class="text-danger">
    <%= @instructions %>
  <span class="text-success">
    ');
  </span>
</h2>
<h3> Current user is admin: <span class="text-danger"><%= current_user.admin? %></span></h3>