<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>email</th>
      <th>admin?</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

