<div id="homepage">

<h1>Live demos of common security hacks</h1>

<div class="about">
  <h2>@edwardmccaughan</h2>
  <%= image_tag "stack.png" %>


  <h2>https://github.com/edwardmccaughan/unsecuring_rails</h2>
</div>
</div>