<h1>Editing post</h1>

<%= render 'form' %>

<h3>hack the featured param with mass assignment</h3>
use the html inspector to add to the form:
&lt;label&gt; featured: &lt;/label&gt; 
&lt;input name="post[featured]" value="true" /&gt; 


<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
